.timeline{
  display: block;
  width: 80%;
  margin: 50px auto;
}

.heading{
  margin-bottom: 50px;
  margin-left: 10%;
}


.card:nth-child(2) .card-body:before{
  top: -25vh;
  height: 100vh;
}

@media only screen and (max-width: 450px) {
  .card:nth-child(2) .card-body:before{
    top: -70vh;
    height: 160vh;
  }

}

.card:nth-child(7) .card-body:before{
  height: 43vh;
}

.card:after{
  content: '';
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(odd){
  outline: 5px solid var(--dark-blue);
  background: var(--white);
  color: var(--black);
}

.card:nth-child(odd):before{
  background: var(--pink)
}

.card:nth-child(even){
  outline: 5px solid var(--dark-blue);
  background: var(--white);
  color: var(--black);
}

.card:nth-child(even):before{
  background: var(--yellow);
}
