.timeline{
  display: block;
  width: 80%;
  margin: 50px auto;
}

.timeline .heading{
  margin-bottom: 50px;
}

.card{
  width: 75%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: 20px 0;
  position: relative;
  background: #f00;
  margin-left: 10%;
}

.card:before{
  content: '';
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5vw;
  height: 2.5vw;
  border: 5px solid #191919;
  border-radius: 50%;
}

.card .card-body:before{
  content: '';
  position: absolute;
  left: -12.5%;
  top: 0;
  width: 0px;
  height: 110%;
  border: 1px solid #000;
  z-index: -1;
}

.card:after{
  content: '';
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
  z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
  background: #ff4f4f;
}
.card:nth-child(3), .card:nth-child(3):before{
  background: #ffb84f;
}
.card:nth-child(4), .card:nth-child(4):before{
  background: #3dca5c;
}
.card:nth-child(5), .card:nth-child(5):before{
  background: #565252;
}
.card:nth-child(6), .card:nth-child(6):before{
  background: #4fa0ff;
}

.card-title{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}