.home-container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  gap: 10%;
  align-items: center;
  justify-items: center;
  grid-template-areas: 
  "img intro-container";
}

.home-container h1 {
  font-weight: 500;
  color: var(--dark-blue);
  text-align: center;
}

.home-container p {
  color: var(--black);
}


@media only screen and (max-width: 700px) {
  .home-container {
    grid-template-columns: 100%;
    grid-template-areas: 
    "img"
    "intro-container";
  }

  .home-container p {
    margin-top: 0;
  }

  .home-container h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
  }
}

.intro-container {
  grid-area: intro-container
}

.intro-container p {
  font-size: 1.5rem;
}

.greeting {
  grid-area: img;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting img {
  width: 100%;
  animation-name: fade-in-content;
  animation-duration: 1.5s;
  max-height: 65%;
}

@keyframes fade-in-content {
  from {opacity: 0;}
  to {opacity: 1;}
}

.link-container {
  display: flex;
  justify-content: center;
  width: 100%;
}



.social-link {
  display: inline;
  text-decoration: none;
  font-family: 'Shippori Mincho', serif;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 1vw;
  color: var(--pink);
  border: 2px solid var(--pink);
  padding: 1rem;
  border-radius: 8px;
  width: 7rem;
  text-align: center;
}

.social-link:hover,
.social-link:focus {
  background: var(--pink);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}


@media only screen and (min-width: 700px) {
  .home-container h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .home-container h1 {
    font-size: 2.75rem;
  }
}

@media only screen and (min-width: 865px) {
  .home-container h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .home-container h1 {
    font-size: 3.25rem;
  }
}

@media only screen and (min-width: 1250px) {
  .home-container h1 {
    font-size: 3.75rem;
  }

  .intro-container p {
    font-size: 1.75rem;
  }
  .link-container a {
    font-size: 1.75rem;
    width: 9rem;
  }
}

@media only screen and (max-width: 350px) {
  .link-container {
    flex-direction: column;
    align-items: center;
  }

  .link-container a {
    margin-bottom: 1rem;
  }
}
